/*Buttons*/
.button_primary {
	display: block;
	color: white;
	background-size: 300% 100%;
	box-shadow: 0px 0px 15px 5px rgba(229, 89, 70, 0.2);
	background-image: linear-gradient(94.15deg, #FA6F5D, #DF523F, #DF523F, #FA6F5D);
	transition: all .4s ease;
	&:hover {
		background-position: 150% 0;
		&:before {
			bottom: -8px;
			left: -8px;
		}
		&:after {
			top: -8px;
			right: -8px;
		}
	}
}
.button_second {
	color: #414141;
	border: 1px solid #414141;
	box-sizing: border-box;
	box-shadow: 0px 0px 15px 5px rgba(26, 54, 82, 0.06);
	transition: all .4s ease;
	&:hover {
		background-color: #4E4E4E;
		color: white;
	}
}
.button{
	display: block;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	padding: 19px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	span {
		pointer-events: none;
	}
	&_tringle {
		&:after {
			content: '';
			position: absolute;
			background-image: url(static/button_tringle.png);
			background-size: contain;
			background-repeat: no-repeat;
			width: 9.27px;
			height: 9px;
			top: -4px;
			right: -4px;
			transition: 0.4s ease;
			backface-visibility: hidden;
		}
		&:before {
			content: '';
			position: absolute;
			background-image: url(static/button_tringle.png);
			background-size: contain;
			background-repeat: no-repeat;
			transform: rotate(180deg);
			width: 9.27px;
			height: 9px;
			bottom: -4px;
			left: -4px;
			transition: 0.4s ease;
			backface-visibility: hidden;
		}
	}
}
/*buyme*/
.b1c-form {
	font-family: 'Montserrat', sans-serif;
}
.b1c-name {
	display: none;
}
/*Intro block*/
.intro {
	background: linear-gradient(283.31deg, #F0F0F0 13.22%, rgba(223, 223, 223, 0) 75.68%);
	display: flex;
	justify-content: space-between;
	padding: 63px 14.69% 59px 14.9%;
	@media screen and (max-width: 1580px) {
		padding-left: 5%;
		padding-right: 5%;
	}
	@media screen and (max-width: 1230px) {
		flex-direction: column;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 25px;
	}
	&__form {
		padding: 126px 0 143px;
		@media screen and (max-width: 1580px) {
			transform: scale(0.8);
		}
		@media screen and (max-width: 1230px) {
			order: 2;
			padding: 0;
		}
		@media screen and (max-width: 510px) {
			
		}
	}
	&__jpg {
		width: 502px;
		height: 502px;
		backface-visibility: hidden;
		@media screen and (max-width: 1580px) {
			transform: scale(0.8);
		}
		@media screen and (max-width: 510px) {
			width: 400px;
			height: 400px;
		}
		@media screen and (max-width: 450px) {
			transform: scale(1);
			width: 300px;
			height: 300px;
		}
	}
	&__title {
		width: 570px;
		font-weight: bold;
		font-size: 29px;
		line-height: 37px;
		text-transform: uppercase;
		@media screen and (max-width: 510px) {
			width: fit-content;
			font-size: 20px;
			line-height: 28px;
		}
	}
	&__text {
		width: 607px;
		font-weight: normal;
		font-size: 28px;
		line-height: 35px;
		color: #525252;
		margin: 10px 0 40px;
		@media screen and (max-width: 510px) {
			font-size: 19px;
			line-height: 26px;
			width: fit-content;
		}
		@media screen and (max-width: 450px) {
			margin-bottom: 20px;
		}
	}
	&__buttons {
		display: flex;
		@media screen and (max-width: 510px) {
			margin: 0 -30px;
		}
		@media screen and (max-width: 450px) {
			margin: 0;
			flex-direction: column;
		}
	}
	&__button {
		width: 273px;
		&:not(:first-child) {
			margin-left: 33.88px;
			@media screen and (max-width: 450px) {
				margin-left: 0;
				margin-top: 20px;
			}
		}
		@media screen and (max-width: 1230px) {
			width: 100%;
			margin: 0;
		}
		@media screen and (max-width: 510px) {
			font-size: 14px;
			line-height: 18px;
			padding: 14px 0;
		}
	}
}
