.samples {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 94px;
	&__sales-info {
		font-weight: bold;
		font-size: 22px;
		line-height: 27px;
		padding: 100px 10px 0;
		text-align: center;
		span {
			color: #DF523F;
		}
		@media screen and (max-width: 740px) {
			padding-top: 30px;
		}
	}
	&__wrapper {
		padding-top: 65px;
		display: flex;
		justify-content: space-between;
		width: 52%;
		@media screen and (max-width: 860px) {
			width: 80%;
		}
		@media screen and (max-width: 740px) {
			flex-direction: column;
			align-items: center;
			padding-top: 0;
			padding-bottom: 65px;
		}
	}
	&__card {
		width: 40%;
		@media screen and (max-width: 740px) {
			width: 80%;
			margin-top: 65px;
		}
		@media screen and (max-width: 740px) {
			width: 100%;
		}
		&-title {
			font-size: 22px;
			line-height: 27px;
			margin-bottom: 17px;
			min-height: 80px;
			@media screen and (max-width: 1300px) {
				font-size: 15px;
				line-height: 20px;
				min-height: 10px;
			}
			@media screen and (max-width: 740px) {
				font-size: 22px;
				line-height: 27px;
			}
			span {
				font-weight: bold;
			}
		}
		img {
			margin-bottom: 4px;
		}
		&-info {
			color: #414141;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			@media screen and (max-width: 1300px) {
				font-size: 11px;
				line-height: 15px;
			}
			@media screen and (max-width: 740px) {
				font-size: 18px;
				line-height: 22px;
			}
			span {
				font-weight: bold;
			}
			p {
				margin-top: 20px;
				@media screen and (max-width: 1400px) {
					margin-top: 10px;
				}
			}
		}
	}
}
.spec {
	margin-top: 100px;
	&__img {
		background-image: url(static/spec.jpg);
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		width: 900px;
		height: 350px;
		box-shadow: inset 0 -80px 200px -60px rgba(21, 21, 21, 1);
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	&__button {
		background-color: white;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 50px;
	}
}